<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Links</title>
</head>
<body>
    <h1>We got ya links right here!</h1>
    <ul>
        <li>
            <a href="https://en.wikipedia.org/wiki/%22Hello,_World!%22_program">
                Wikipedia on the origins of Hello World
            </a>
        </li>
        <li>
            <a href="https://www.projecthelloworld.org/">
                A lovely charity called <i>Hello World</i>
            </a>
        </li>
    </ul>
</body>
</html>